

.app {
  display:flex;

  align-self:center;
  align-items: center;

}

.game {
  width: 560px;
  height: 560px;
  padding: 20%;
  flex-wrap: wrap;
  align-self:center;
  align-items: center;
  margin-left: 10%;
  padding-top: 10%;

  
}

.game img {
    
  width: 66px;
  border-radius: 50px;
  border-style: solid;
  border-color: pink;
}