

.app {
    display:flex;

    align-self:center;
    align-items: center;
   
  }
  
  .game {
    width: 560px;
    height: 560px;
    padding: 20%;
    flex-wrap: wrap;
    align-self:center;
    align-items: center;
    
  }
  
  .game img {
      
    width: 70px;
   
  }