.App {
  text-align: center;
  height: 1000px;
  background-color: rgb(20, 20, 20);
}
 .container{
  background-color: rgb(20, 20, 20);
  
  display:grid;
  grid-template-columns: repeat(12,1fr);
 }
 .morePictures{
  grid-column: 1/13;;
 }
 .profilePictures{
  grid-column:1/13;
  background-color: rgb(16, 14, 14);
  margin-left:10%;
  margin-right: 10%;
  padding:5%;
  
 }
 .fade-container{
  position:absolute;
 }
 .profilePicture{
  width:100px;
  height:100px;
  margin:2%;
 }
 .h1-text{
  grid-column: 1/13;
  color: white;
 }
 .h3-text{
  grid-column: 1/4;
  color: white;
  margin: 0;
 }
 .downloadingField{
  grid-column:5/13;
 }
 .morePictures button{
  margin-left: 80%;
  background-color: transparent;
  color:white;
  border: none;
 }
 .modalPicture{
  justify-self: center;
  width: 250px;
  height: 250px;
 }
 .modal{
  width:90%; 
  height: 50%;
  background-color: rgb(76, 76, 72, .9);
  opacity: 60%;
  z-index:100;
  position: relative;
  display: flex;
  bottom: 62%;
  padding: 5%;
  
  
 }  
 .x{
align-self: start;
 }

 .wrapper {
    padding: 20px;
}